.border-bottom {
    border-bottom: #00000033;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.border-top {
    border-top: #00000033;
    border-top-width: 1px;
    border-top-style: solid;
}

.border-left {
    border-left: #00000021;
    border-left-style: solid;
}

.border-right {
    border-right: #00000021;
    border-right-style: solid;
}